@model HotelManagementSystem.ViewModels.BookingViewModel

@{
    ViewData["Title"] = "Create";
}


<section class="full-height">
    <div class="row form-row">
        <div class="col-md-10">
            <div class="container-border p-3 mt-4 mb-4">
                <div class="container-body">
                    <h3 class="mb-2 pt-2 text-center">Book Apartment</h3>
                    <hr />
                    <div id="t_list" class="p-3">
                        <form asp-action="Create">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-4">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="ApartmentId" value="@Model.ApartmentId"/>
                                    <div class="form-floating mb-3">
                                        <input asp-for="FirstName" class="form-control" />
                                        <label asp-for="FirstName" class="control-label">First Name</label>
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input asp-for="LastName" class="form-control" />
                                        <label asp-for="LastName" class="control-label">Last Name</label>
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input asp-for="Country" class="form-control" />
                                        <label asp-for="Country" class="control-label"></label>
                                        <span asp-validation-for="Country" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input asp-for="BirthDate" type="date" class="form-control" />
                                        <label asp-for="BirthDate" class="control-label">Birth Date</label>
                                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input asp-for="IdNumber" class="form-control" />
                                        <label asp-for="IdNumber" class="control-label">Passport Id</label>
                                        <span asp-validation-for="IdNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <div class="form-floating mb-3">
                                        <select asp-for="GenderId" class ="form-control" asp-items="ViewBag.GenderId"></select>
                                        <label asp-for="GenderId" class="control-label"></label>
                                    </div>
                                    <input type="hidden" asp-for="DateStart" value="@Model.DateStart"/>
                                    <input type="hidden" asp-for="DateEnd" value="@Model.DateEnd"/>
                                    <div class="form-floating mb-3">
                                        <input asp-for="AdultsNumber" type="number" value="@Model.AdultsNumber" readonly class="form-control" />
                                        <label asp-for="AdultsNumber" class="control-label">Guests Number</label>
                                        <span asp-validation-for="AdultsNumber" class="text-danger"></span>
                                    </div>
                                    <input type="hidden" asp-for="ChildrenNumber" value="@(0)"/>
                                    <div class="form-floating mb-3">
                                        <select asp-for="EnrollmentTypeId" class ="form-control" asp-items="ViewBag.EnrollmentTypeId"></select>
                                        <label asp-for="EnrollmentTypeId" class="control-label">Enrollment Type</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" value="@Model.DateStart.ToShortDateString()" readonly class="form-control" />
                                        <label class="control-label">Check In</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" value="@Model.DateStart.ToShortDateString()" readonly class="form-control" />
                                        <label class="control-label">Check Out</label>
                                    </div>
                                        
                                        <input asp-for="PersonalDataProc" type="checkbox" />
                                        <label asp-for="PersonalDataProc">I agree to my personal data processing</label>
                                        
                                        
                                    
                                </>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="centered-content mt-5 mb-3">
                                <a asp-action="Index" class="btn btn-primary me-3 w-25">Back</a>
                                <input type="submit" value="Create" class="btn btn-success w-25"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
