@model HotelManagementSystem.Models.Apartment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Apartment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApartmentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApartmentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnrollmentTypeGuest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnrollmentTypeGuest.ApartmentTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApartmentCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApartmentCategory.ApartmentCategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApartmentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApartmentStatus.ApartmentStatusId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApartmentDailyPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApartmentDailyPrice.ApartmentDailyPriceId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ApartmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
